/* Change to alternate box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Change to alternate box model */

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Heading Section */
.header {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero Section */
.hero {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  flex: 1;
}

.hero-title {
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-subtitle {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-container {
  flex: 1;
  padding: 10px;
}

.hero-image {
  max-width: 400px;
  padding: 10px;
  flex: 1;
}

.btn {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: #3882f6;
  border-radius: 5px;
  padding: 8px 24px;
}

/* Section Two */
.two {
  align-self: center;
}

.sec-two {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.sec-two-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.info {
  text-align: center;
}

.sec-two__img {
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.img-subtext {
  margin-top: 4px;
  max-width: 150px;
  color: #5b646c;
}

/* Footer Section */
footer {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
