/* Change to alternate box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Change to alternate box model */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Heading Section */
.header {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}
/* Hero Section */
