/* Change to alternate box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Change to alternate box model */

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Heading Section */
.header {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 50px 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header-logo {
  font-size: 24px;
  width: 450px;
  font-weight: bold;
  color: #f9faf8;
}

.nav-links {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero Section */
.hero {
  background-color: #1f2937;
  padding: 0 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-container {
  width: 450px;
}

.hero-title {
  margin-bottom: 5px;
  margin-right: 0;
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-subtitle {
  margin-bottom: 10px;
  margin-right: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
}

.btn {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  border: 2px solid #3882f6;
  border-radius: 5px;
  padding: 8px 24px;
}

/* Section Two */
.two {
  padding: 50px 200px 100px;
  align-self: center;
  flex: 1;
}

.sec-two {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
}

.sec-two-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.info {
  text-align: center;
}

.sec-two__img {
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.img-subtext {
  margin-top: 4px;
  max-width: 150px;
  color: #5b646c;
}

/* Testimonial Section */
.testimonial {
  padding: 50px 200px 100px;
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 10px;
  max-width: 900px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  color: #1f2937;
  font-weight: bold;
  margin-top: 0;
  padding-right: 25px;
}

/* End Section */
.end {
  padding: 100px 300px;
}

.cta {
  background-color: #3882f6;
  color: #e5e7eb;
  margin: 32px 100px;
  padding: 52px 48px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-title {
  margin-bottom: 2px;
}

.cta-subtitle {
  margin-top: 2px;
}

.btn.calltoaction {
  font-weight: bold;
  border: 2px solid #e5e7eb;
}

/* Footer Section */
footer {
  background-color: #1f2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
